[Unit]
Description=D-Star Gateway Service
# Description=Place this file in /lib/systemd/system
# Description=N4IRS 01/17/2020

# The device name should point to the
# port the mmdvm is plugged into.
# For USB ports (Arduino Due)
# BindTo=dev-ttyACM0.device
#
# To make the network-online.target available
# systemctl enable systemd-networkd-wait-online.service

After=network-online.target syslog.target netcheck.service
Requires=netcheck.service
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=3
StandardOutput=null
# WorkingDirectory=
ExecStartPre = /bin/sh -c 'echo "Starting ircDDBGateway: [`date +%%T.%%3N`]" >> /var/log/netcheck'
ExecStart=/usr/bin/ircddbgatewayd -logdir:/var/log/ircddbgateway
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target

# Usage: ircddbgatewayd [-nolog] [-debug] [-daemon] [-logdir <str>] [-confdir <str>] [Gateway Name]
#  -nolog
#  -debug
#  -daemon
#  -logdir:<str>
#  -confdir:<str>	

