[Unit]
Description=NetCheck test for Internet connectivity
# Description=Place this file in /lib/systemd/system
# Description=N4IRS 04/20/2018

# The device name should point to the
# port the mmdvm is plugged into.
# For USB ports (Arduino Due)
# BindTo=dev-ttyACM0.device
#
# To make the network-online.target available
# systemctl enable systemd-networkd-wait-online.service

After=network-online.target syslog.target
Wants=network-online.target

[Service]
Type=forking
StandardOutput=null
ExecStart=/usr/local/sbin/netcheck

[Install]
# To make the network-online.target available
# systemctl enable systemd-networkd-wait-online.service

WantedBy=multi-user.target
